.l-btn {
  margin-left: 15px;
}

.l-no-tasks {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4em;
}

.l-task-dialog {
  transform: translate(0, 20px);
}
